.account__containerSub {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 10px;
  margin-top: 15px;
  border-bottom: 1px solid rgb(195, 195, 195);
}

.account__containerSubPhone {
  height: 64px;
}

.account__containerSubLeft {
  color: rgb(41, 41, 41);
  align-self: flex-start;
  height: 20px;
  cursor: default;
}

.account__containerSubCenter {
  position: absolute;
  color: rgb(41, 41, 41);
  align-self: center;
  height: 20px;
  cursor: default;
}

.account__containerSubRight {
  display: flex;
  color: rgb(41, 41, 41);
  position: absolute;
  align-self: flex-end;
  height: 20px;
  cursor: default;
}

.account__containerSubPassword {
  height: 120px;
}

.account__containerSubRightPassword > div {
  display: flex;
  flex-direction: column;
}

.account__containerSubRightPassword > div > button {
  margin-top: 8px;
  align-self: flex-start;
}

.account__containerSubRightIcon {
  outline: none;
  border: none;
  background-color: transparent;
}

.account__containerSubRightIcon > .MuiSvgIcon-root {
  color: rgb(128, 128, 128);
  margin-right: 2px;
  font-size: 13px;
  cursor: pointer;
}

.MuiSvgIcon-root:hover {
  color: black;
}

.account__containerSubRightButton {
  width: 60px;
  height: 20px;
  font-size: 12px;
  font-weight: 700;
  outline: none;
  border: 1px solid;
  border-radius: 3px;
  border-color: #9dd3d8;
  color: #3b3b3b;
  background: #9dd3d8;
  cursor: pointer;
  margin-left: 3px;
  box-shadow: inset -13px -13px 27px #9dd3d8, inset 13px 13px 27px #9dd3d8;
  transition: all 0.2s ease-in-out;
}

.account__containerSubRightButton > .MuiSvgIcon-root {
  font-size: 13px;
}

.account__containerSubRightInput {
  width: 100px;
  height: 20px;
  /* border: none; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

.account__containerSubRightButtonPhone {
  width: 100px;
}
