.addQuestion {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.addQuestion__containter {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 45rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
}

.addQuestion__select {
  display: flex;
  justify-content: space-around;
}

.addQuestion__select > select {
  margin-right: 5px;
}

.addQuestion__input {
  margin-bottom: 20px;
  height: 60px;
  resize: none;
  width: 100%;
}

.addQuestion__output {
  margin-top: 5px;
  width: 100%;
  word-wrap: break-word;
}

.addQuestion__preview {
  font-size: 22px;
  margin-top: 20px;
  font-weight: 700;
}

.addQuestion__inputError {
  color: red;
  text-align: center;
  width: 100%;
}

.addQuestion__inputSuccess {
  color: rgb(67, 192, 67);
  text-align: center;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
}
