.tables {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.tables > p {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: rgb(59, 59, 59);
}

.tables__subject {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: rgb(59, 59, 59);
  margin-top: 40px;
  margin-bottom: 15px;
}

.tables__setPaper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.tables__setPaperDisabled {
  width: 200px;
  font-size: 13px;
  color: red;
  margin-left: 10%;
}

.tables__setPaperButtonDisabled {
  width: 120px;
  height: 45px;
  font-weight: 700;
  outline: none;
  border: 1px solid transparent;
  border-radius: 5px;
  color: rgba(148, 152, 155, 0.5);
  background: #f2f2f2;
}

.tables__setPaperButtonDisabled:hover {
  cursor: not-allowed;
}

.datePicker {
  background-color: #fff;
}

.headerData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.headerData__container {
  /* display: flex;
  flex-direction: column; */
}

.headerData__option {
  margin: 10px 20%;
}

.headerData__option > input {
  /* width: 60px; */
}

.headerData__optionTime {
  display: flex;
  flex-direction: row;
}

.headerData__optionTime > input {
  /* width: 30px; */
  /* height: 20px; */
}
