.print {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.printButton {
  transition: all 0.2s ease-out;
  margin-right: 20px;
  margin-bottom: 10px;
}

.printButton > .MuiSvgIcon-root {
  color: inherit;
  font-size: 16px;
  margin-right: 5px;
}

.paper__subjectTitle {
  font-size: 17px;
  font-weight: 600;
  margin-top: 20px;
  text-align: center;
}
