.table1 {
  margin-top: 40px;
  margin-bottom: 60px;
}
.table__newRow {
  display: table-row;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0px 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.table_right {
  text-align: center;
}

.table__newCell {
  display: table-cell;
  border: 1px solid #999999;
  border: none;
  vertical-align: middle;
  padding: 10px 10px;
}

.table__newRowTopLeftCell {
  border-top-left-radius: 10px;
  border-right: none;
  border-bottom: none;
}
.table__newRowTopRightCell {
  border-top-right-radius: 10px;
  border-left: none;
  border-bottom: none;
}

.table__newRowBottomLeftCell {
  border-bottom-left-radius: 10px;
  border-left: none;
  border-bottom: none;
}

.table__newRowBottomRightCell {
  border-bottom-right-radius: 10px;
  border-left: none;
  border-bottom: none;
}
