.account {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  width: 100%;
  max-width: 100%;
}

.account > div {
  position: relative;
  overflow-x: hidden;
  display: flex;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.account__container {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-width: 140px;
  height: 400px;
  background-color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.account__sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  height: 400px;
  background-color: #d2d5d9;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.account__sidebar > div {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid rgb(175, 175, 175);
}
.account__sidebarProfile,
.account__sidebarSetPaper,
.account__sidebarSavedPaper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .account__sidebarProfile:hover {
  border-top-left-radius: 3px;
  background-color: white;
} */

.account__sidebarProfile:hover,
.account__sidebarSetPaper:hover,
.account__sidebarSavedPaper:hover {
  background-color: rgb(196, 196, 196);
  cursor: pointer;
}

.account__sidebarProfile > p,
.account__sidebarSetPaper > p,
.account__sidebarSavedPaper > p {
  height: 20px;
  font-weight: 600;
  margin-top: 8px;
  color: rgb(59, 59, 59);
}

.account__sidebarSelected {
  background-color: white;
}

.account__sidebarSelected > p {
  color: #578f9d;
}

.account__sidebarSelected:hover {
  background-color: white;
}
